@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: brown;
  height: 100px;
}

.h2-div {
  color: rgba(3, 3, 3, 0.4);
}

.wrap {
  position: relative;
  border-radius: 0;
}

.wrap span {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #f72210;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px 15px;
}

h5 {
  font-size: 22px;
}

.card-text {
  font-size: 13px;
}

.opinion img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.more-stories img {
  width: 64px;
  height: 64px;
}

.form-to-5 {
  margin: auto;
  background-color: #f4f5f6;
  border: 1px solid #e5e5e5;
}

.cat-cov {
  padding: 5px;
  color: white;
  background-color: #f72210;
}

.cat-hea a {
  padding: 5px;
  color: #f72210;
}

.category {
  font-size: 16px;
}

h5 a {
  color: black;
}

.hr-rule{
  background-color: #9a9a9a;
  height: 10px;
}

footer {
  background-color: blue;
  height: 100px;
}

.vs {
  position: relative;
    z-index: 1;
    width: 32px;
    height: 32px;
    background-color: #000;
    color: #d6d6d6;
    border-radius: 50%;
    font: bold 14px/32px "Roboto Condensed",sans-serif;
    text-align: center;
    margin: 0px auto;
    top: -2rem;
}

